
<h1>Search Book for	Patrons</h1>
<form action="/searchForPatron">
    <input type ="test" name="titleP" placeholder="Title" >
    <input type ="test" name="authorP" placeholder="Author" >
    <input type ="test" name="isbnP" placeholder="ISBN" >
    <button type="submit"> Search </button>
</form> 
<%=link_to 'Back',	home_page_index_path %>
