
<h1>Welcome Administrator!</h1>
<%= link_to 'Add book', new_administrator_path, {:style=>'font-size:3vw'} %>
<br>
<br>
<%= link_to 'Search book', {:controller => "administrators", :action => "searchPage"},{:style=>'font-size:3vw'}  %>
<br>
<br>
<%=link_to 'Back',	home_page_index_path %>
